<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact Us</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-img">
                        <img src="/images/milkab.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <p>Feel free to reach out to us at any time. Whether you have questions about our cow farm fresh milk, want to learn more about our ethical practices, or simply wish to connect, we're here to chat. Your feedback and inquiries are important to us, and we look forward to sharing the goodness of our milk with you.</p>
                        <a href="mailto:masifraza.asif@gmail.com">Click here to Mail Us</a> || <a href="https://wa.me/9353580260" target="_blank">whatsapp us</a> || <a href="tel: +919353580260" target="_blank">Call us</a> || <a href="/">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
      &copy; <span id="displayYear"></span> All Rights Reserved By shadi
      
        </footer>
</body>
</html>